/* You can add global styles to this file, and also import other style files */
a > img {
	width: 82px;
	margin-left: 55px;
}

a.active {
	background-color: #eee;
	border-left-color: #9d1c46;
}
.btn-bordeaux{
	background-color: #9d1c46 !important;
}
.btn-bordeaux:hover{
	color: #eee;
}
.container-fluid {
    margin-right: auto;
    margin-left: auto;
    padding-left: 15px;
    padding-right: 15px;
    background-color: #444;
}
.sidebar .user-info {
    background-color: #444;
}
.mega-menu.logout-button {
	color: white;
}
.mega-menu.logout-button:hover {
	color: white;
    background-color: #444;
}
.delete-element{
	cursor: pointer;
}
.number.count-to.widgets {
	font-size: 16px;
}
a.active span, a.active i {color: #820234 !important;}
a.a.active span {font-weight: 600;}
