/* You can add global styles to this file, and also import other style files */
a > img {
	width: 94px;
	margin-left: 35px;
}

a.active {
	background-color: #eee;
	border-left-color: #9d1c46;
}
.btn-bordeaux{
	background-color: #9d1c46 !important;
}
.btn-bordeaux:hover{
	color: #eee;
}