<layout></layout>
<div class="block-header">
	<div class="row">
		<div class="col-md-8 col-sm-7 col-xs-12">
			<div class="h-left clearfix aos-item" data-aos-duration="400" data-aos-delay="300" data-aos="slide-down">
				<h2>PANEL PRINCIPAL</h2>
				<!-- <small class="text-muted">Welcome to CC Application</small> -->
			</div>
		</div>
	</div>
</div>
<section class="content home" style="margin-left: 270px;">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-6 col-sm-12 col-xs-12">
			<div class="row clearfix top-report">
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="card info-box">
						<div class="icon bg-red"><i class="zmdi zmdi-account-circle"></i></div>
						<div class="content">
							<div class="text">Total de Usuarios</div>
							<div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">125</div>
						</div>
					</div>
				</div>
				<div class="col-md-4 col-sm-6 col-xs-12">
					<div class="card info-box">
                        <div class="icon bg-red"><i class="zmdi zmdi-star"></i></div>
                        <div class="content">
                            <div class="text">Vino Favorito</div>
                            <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">Vino 1</div>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6 col-xs-12">
                 <div class="card info-box">
                    <div class="icon bg-red"><i class="zmdi zmdi-star"></i></div>
                    <div class="content">
                        <div class="text">Uva Favorita</div>
                        <div class="number count-to" data-from="0" data-to="125" data-speed="1000" data-fresh-interval="20">Vino 1</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row" style="padding-bottom: 25px;">
    <line-chart></line-chart>
    <donut-chart></donut-chart>
</div>
<div class="row clearfix">
    <!-- Purchases -->
    <div class="col-xs-12 col-sm-12 col-md-8">
        <div class="card aos-item" data-aos-duration="400" data-aos-delay="100" data-aos="fade-up">
            <div class="header">
                <h2>Los más elegidos</h2>
            </div>
            <div class="body table-responsive">
                <table class="table table-striped table-borderless">
                    <thead>
                        <tr>
                            <th style="width:40%;">Nombre</th>
                            <th style="width:20%;">Uva</th>
                            <th class="number">Precio</th>
                            <th style="width:20%;"><i class="zmdi zmdi-favorite"></i></th>
                        </tr>
                    </thead>
                    <tbody class="no-border-x">
                        <tr *ngFor="let wine of favoriteWines">
                            <td>{{ wine.wine.name }}</td>
                            <td>{{ wine.wine.grape.name }}</td>
                            <td class="number">{{ wine.wine.price}}</td>
                            <td>{{ wine.cant }}</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <!-- #END# Purchases -->
    <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="card aos-item" data-aos-duration="400" data-aos-delay="200" data-aos="fade-up">
            <div class="header">
                <h2>Resumen</h2>
            </div>
            <div class="body">
                <ul class="inbox-widget list-unstyled clearfix">
                    <li class="inbox-inner aos-item" data-aos-duration="400" data-aos-delay="100" data-aos="fade-down"> <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-img"> <img src="assets/images/google-logo.png" alt=""> </div>
                            <div class="inbox-item-info">
                                <p class="author">Google Plus</p>
                                <p class="inbox-message">20 Usuarios Registrados</p>
                            </div>
                        </div>
                        </a> </li>
                    <li class="inbox-inner aos-item" data-aos-duration="400" data-aos-delay="200" data-aos="fade-down"> <a href="#">
                        <div class="inbox-item">
                            <div class="inbox-img"> <img src="assets/images/fb-logo.png" alt=""> </div>
                            <div class="inbox-item-info">
                                <p class="author">Facebook</p>
                                <p class="inbox-message">60 Usuarios Registrados</p>
                            </div>
                        </div>
                        </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="row clearfix social-widget">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card info-box-2 hover-zoom-effect facebook-widget aos-item" data-aos-duration="400" data-aos-delay="100" data-aos="fade-up">
                    <div class="icon"><i class="zmdi zmdi-facebook"></i></div>
                    <div class="content">
                        <div class="text">Like</div>
                        <div class="number">123</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row clearfix">
    <div class="col-xs-12 col-sm-12 col-md-5 col-lg-4">
        <div class="row clearfix social-widget">
            <div class="col-md-6 col-sm-6 col-xs-12">
                <div class="card info-box-2 hover-zoom-effect google-widget aos-item" data-aos-duration="400" data-aos-delay="150" data-aos="fade-up">
                    <div class="icon"><i class="zmdi zmdi-google"></i></div>
                    <div class="content">
                        <div class="text">Like</div>
                        <div class="number">254</div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div> -->
</section>